body {
    background-color: #0f2537; /* Dark Blue */
    color: #ebebeb; /* Light Gray */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1e5799; /* Blue tone */
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

header h1 {
    margin: 0;
    color: #000000;
    font-size: 2em;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #1e5799; /* Blue tone */
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

nav a {
    color: #dee2e6; /* Light Gray */
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.1em;
}

nav a:hover {
    color: #000000;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #0c2461; /* Dark Blue */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

section h2 {
    margin-top: 0;
    color: #000000;
}

footer {
    background-color: #1e5799; /* Blue tone */
    color: #dee2e6;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
}

button {
    background-color: #df6919; /* Orange */
    color: #000000;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #d35400; /* Darker Orange */
}
